.settings__setting{
    padding-bottom: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting i{
    margin-right: 25px;
    font-size: 22px;
    opacity: 0.9;
}
.settings__setting-column:last-child{
    opacity: 0.6;
}